@charset "utf-8";
body {
	background-color: #E1C699
}
.carousel-item{
	background-color: #E1C699	
}
.nav-item {
    color: #ffffff;		
}
.btn{
	border-color: #E6AF57;
	color: #FFFFFF;
	font: "Futura PT Book", "Futura PT Demi";
}

h1 {
	font: "Futura PT Book", "Futura PT Demi";
	color: #FFFFFF;
}
p {
	font: "Futura PT Book", "Futura PT Demi";
	color: #FFFFFF
}
footer {
	text-align: center;
}
#mapid { 
	height: 180px;
}
